.input_area .CodeMirror pre {
    font-family: Consolas, "NanumGothic"; 
    font-size: 14pt; 
    line-height: 140%;}

div.output pre{
    font-family: D2Coding, Consolas, 나눔고딕코딩;
    font-size: 12pt;
}

 .container { width:100% !important; } 


